<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>TJRoss23</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/octicons/octicons.css">
        <!-- endbuild -->

    </head>
    <body>

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <body>
                <div class="header">
                    <a class="exp" href="https://github.com/explore"></a> 
                    <a class="gist" href="https://gist.github.com/"></a> 
                    <a class="blog" href="https://github.com/blog"></a>  
                    <a class="help" href="https://help.github.com/"></a>  
                </div>
              
                <div class="tm">
                  <a class="contributions" href="https://github.com/TJRoss23"></a>
                   <a class="public" href="https://github.com/TJRoss23?tab=activity"></a>
                </div>

              <div class="containLeft">
                <img class="tjavatar" src="images/avatar.png">
                <h1 class="names">
                    <span class="fullname">Terry Ross</span>
                    <span class="username">TJRoss23</span>
                </h1>
                <a class="developer-program-badge" href="https://developer.github.com/">
                    <span class="octicon octicon-circuit-board"></span>
                    Developer Program Member
                </a>
                    <ul class="details">
                      <li class="joindate">
                          <span class="octicon octicon-clock"></span>
                          <span class="joindate">Joined on Jun 03, 2014</span>
                      </li>
                    </ul>

                <div class="containRight">
                    <ul class="rightstuff">
                    </ul>
                </div>
              </div>
              <div class="footer2">
                    <a class="terms" href="https://help.github.com/articles/github-terms-of-service"></a> 
                        <a class="privacy" href="https://help.github.com/articles/github-privacy-policy"></a>
                        <a class="security" href="https://help.github.com/articles/github-security"></a>
                    <a class="contactw" href="https://github.com/contact"></a>
                        <a class="status" href="https://status.github.com/"></a>
                    <a class="api" href="https://developer.github.com/"></a>
            </div>

        </div>
        
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <script type="text/template" class="template">
  
              //<script class="template2" type="text/template">
                //<span class="mega-octicon octicon-repo book"></span>
                //<div class="repo_name">
                  // <span class="octicon octicon-git-branch"></span>
                    //<span class="stargazer"><%= stargazers_count %></span>
                     //<span class="repo_name_text"><%= name %></span>
                       // <span class="fork_count"><%= forks_count %></span>
                          //  <span class="octicon octicon-star"></span>
                   
                </div>
               </script> 
</body>
</html>
